body{
    margin-left: 450px;
    background-color: rgb(170, 231, 218);

}

.imgcav{
    width: 1000px;
}
h2{
    margin-left: 340px;
}
a{
    padding: 20px;

}
h1{
    margin-left: 215px;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 3px;
    background-color: black;
    color: rgb(170, 231, 218);;
    margin-left: 380px;
    margin-top: 15px;
    font-size: 1.1rem; 
    cursor: pointer;
}
button:hover{
    background-color: white;
}

.bodyigreja{
    background-color: bisque;
    
}
.imgigre{
    margin-left: 135px;
    border-radius: 8px;
}
